<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
	point="org.eclipse.ui.perspectives">
	<perspective
		class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective"
		fixed="false"
		id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective"
		icon="branding/Icon16_dark.png"
		name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="org.eclipse.ui.newWizards">
<!--@CincoGen PROJECT_WIZARD_USERDOCUMENTATIONTOOL_WIZ -->
<wizard category="de.jabc.cinco.meta.core.wizards.category.cinco" class="info.scce.cinco.product.userdocumentation.UserDocumentationToolProjectWizard" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.wizard.userdocumentationtoolproject" name="New UserDocumentationTool Project" project="true">
</wizard>
</extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable PageGraphModel-->
<graphmodel class="info.scce.cinco.product.pages.page.PageGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.PageClassGenerator" outlet="/src/">
</generator>
</extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable SiteGraphModel-->
<graphmodel class="info.scce.cinco.product.site.site.SiteGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.Generate" outlet="/src/">
</generator>
</extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.site.site.views.ViewsPackage" uri="http://cinco.scce.info/product/site/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.site.site.internal.InternalPackage" uri="http://cinco.scce.info/product/site/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.site.site.SitePackage" uri="http://cinco.scce.info/product/site"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.pages.page.views.ViewsPackage" uri="http://cinco.scce.info/product/pages/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.pages.page.internal.InternalPackage" uri="http://cinco.scce.info/product/pages/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.pages.page.PagePackage" uri="http://cinco.scce.info/product/pages"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.usersequence.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.usersequence.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.usersequence.UsersequencePackage" uri="http://cinco.scce.info/product/usersequence"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.usersequence.UsersequencePackage" uri="http://cinco.scce.info/product/usersequence"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.usersequence.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.usersequence.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.pages.page.PagePackage" uri="http://cinco.scce.info/product/pages"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.pages.page.internal.InternalPackage" uri="http://cinco.scce.info/product/pages/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.pages.page.views.ViewsPackage" uri="http://cinco.scce.info/product/pages/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.site.site.SitePackage" uri="http://cinco.scce.info/product/site"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.site.site.internal.InternalPackage" uri="http://cinco.scce.info/product/site/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.site.site.views.ViewsPackage" uri="http://cinco.scce.info/product/site/views"/>
   </extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable PageGraphModel-->
<graphmodel class="info.scce.cinco.product.pages.page.PageGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.PageClassGenerator" outlet="/src/">
</generator>
</extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable SiteGraphModel-->
<graphmodel class="info.scce.cinco.product.site.site.SiteGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.Generate" outlet="/src/">
</generator>
</extension><extension point="org.eclipse.ui.perspectives">
	<perspective class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective" fixed="false" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective" name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="org.eclipse.ui.navigator.navigatorContent">
<!--@CincoGen PROJECT_WIZARD_USERDOCUMENTATIONTOOL_NAV -->		
<commonWizard menuGroupId="mgl" type="new" wizardId="info.scce.cinco.product.userdocumentation.wizard.userdocumentationtoolproject">
	<enablement/>
</commonWizard>
</extension></plugin>