<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocTool -->
      <package
            uri="http://cinco.scce.info/product/function/mglid"
            class="info.scce.cinco.product.function.mglid.function.FunctionPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocTool -->
      <package
            uri="http://cinco.scce.info/product/function/mglid/internal"
            class="info.scce.cinco.product.function.mglid.function.internal.InternalPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocTool -->
      <package
            uri="http://cinco.scce.info/product/function/mglid/views"
            class="info.scce.cinco.product.function.mglid.function.views.ViewsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocTool -->
      <package
            uri="http://cinco.scce.info/product/userdoc/mglid"
            class="info.scce.cinco.product.userdoc.mglid.userdoc.UserdocPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocTool -->
      <package
            uri="http://cinco.scce.info/product/userdoc/mglid/internal"
            class="info.scce.cinco.product.userdoc.mglid.userdoc.internal.InternalPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocTool -->
      <package
            uri="http://cinco.scce.info/product/userdoc/mglid/views"
            class="info.scce.cinco.product.userdoc.mglid.userdoc.views.ViewsPackage"/>
   </extension>
<extension
point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable UserDocGraphModel-->
<graphmodel
      class="info.scce.cinco.product.userdoc.mglid.userdoc.UserDocGraphModel">
</graphmodel>
<generator
bundle_id="info.scce.cinco.product.userdoc"
class="info.scce.cinco.product.userdoc.codegen.Generate"
outlet="/src/">
</generator>
</extension>
<extension
point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable FunctionGraphModel-->
<graphmodel
      class="info.scce.cinco.product.function.mglid.function.FunctionGraphModel">
</graphmodel>
<generator
bundle_id="info.scce.cinco.product.userdoc"
class="info.scce.cinco.product.userdoc.codegen.GenerateFunction"
outlet="/src/">
</generator>
</extension>
</plugin>