<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
	point="org.eclipse.ui.perspectives">
	<perspective
		class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective"
		fixed="false"
		id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective"
		icon="branding/Icon16_dark.png"
		name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="org.eclipse.ui.newWizards">
<!--@CincoGen PROJECT_WIZARD_USERDOCUMENTATIONTOOL_WIZ -->
<wizard category="de.jabc.cinco.meta.core.wizards.category.cinco" class="info.scce.cinco.product.userdocumentation.UserDocumentationToolProjectWizard" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.wizard.userdocumentationtoolproject" name="New UserDocumentationTool Project" project="true">
</wizard>
</extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable FeatureGraphModel-->
<graphmodel class="info.scce.cinco.product.features.main.feature.FeatureGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.Generate" outlet="/src-gen/">
</generator>
</extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.views.ViewsPackage" uri="http://cinco.scce.info/product/features/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.internal.InternalPackage" uri="http://cinco.scce.info/product/features/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.FeaturePackage" uri="http://cinco.scce.info/product/features/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.DocPackage" uri="http://cinco.scce.info/product/usersequence/main"/>
   </extension><extension point="org.eclipse.ui.perspectives">
	<perspective class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective" fixed="false" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective" name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable FeatureGraphModel-->
<graphmodel class="info.scce.cinco.product.features.main.feature.FeatureGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.Generate" outlet="/src-gen/">
</generator>
</extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.views.ViewsPackage" uri="http://cinco.scce.info/product/features/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.internal.InternalPackage" uri="http://cinco.scce.info/product/features/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.FeaturePackage" uri="http://cinco.scce.info/product/features/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.DocPackage" uri="http://cinco.scce.info/product/usersequence/main"/>
   </extension><extension point="org.eclipse.ui.perspectives">
	<perspective class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective" fixed="false" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective" name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable FeatureGraphModel-->
<graphmodel class="info.scce.cinco.product.features.main.feature.FeatureGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.Generate" outlet="/src-gen/">
</generator>
</extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.views.ViewsPackage" uri="http://cinco.scce.info/product/features/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.internal.InternalPackage" uri="http://cinco.scce.info/product/features/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.FeaturePackage" uri="http://cinco.scce.info/product/features/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.DocPackage" uri="http://cinco.scce.info/product/usersequence/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.DocPackage" uri="http://cinco.scce.info/product/usersequence/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/main/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.FeaturePackage" uri="http://cinco.scce.info/product/features/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.internal.InternalPackage" uri="http://cinco.scce.info/product/features/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.features.main.feature.views.ViewsPackage" uri="http://cinco.scce.info/product/features/main/views"/>
   </extension><extension point="de.jabc.cinco.meta.plugin.generator.runtime.registry">
<!--@MetaPlugin Generatable FeatureGraphModel-->
<graphmodel class="info.scce.cinco.product.features.main.feature.FeatureGraphModel">
</graphmodel>
<generator bundle_id="info.scce.cinco.product.userdocumentation" class="info.scce.cinco.product.userdocumentation.codegen.Generate" outlet="/src-gen/">
</generator>
</extension><extension point="org.eclipse.ui.perspectives">
	<perspective class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective" fixed="false" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective" name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.DocPackage" uri="http://cinco.scce.info/product/usersequence/main"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.internal.InternalPackage" uri="http://cinco.scce.info/product/usersequence/main/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserDocumentationTool -->
      <package class="info.scce.cinco.product.usersequence.main.doc.views.ViewsPackage" uri="http://cinco.scce.info/product/usersequence/main/views"/>
   </extension><extension point="org.eclipse.ui.perspectives">
	<perspective class="info.scce.cinco.product.userdocumentation.perspective.UserDocumentationToolPerspective" fixed="false" icon="branding/Icon16_dark.png" id="info.scce.cinco.product.userdocumentation.userdocumentationtoolperspective" name="UserDocumentationTool Perspective">
	</perspective>
</extension><extension point="org.eclipse.ui.navigator.navigatorContent">
<!--@CincoGen PROJECT_WIZARD_USERDOCUMENTATIONTOOL_NAV -->		
<commonWizard menuGroupId="mgl" type="new" wizardId="info.scce.cinco.product.userdocumentation.wizard.userdocumentationtoolproject">
	<enablement/>
</commonWizard>
</extension></plugin>