/.Generate.java._trace
/.GenerateFunction.java._trace
/.MavenStructureGenerator.java._trace
/.PackageGenerator.java._trace
/.PomXMLGenerator.java._trace
/Generate.java
/GenerateFunction.java
/MavenStructureGenerator.java
/PackageGenerator.java
/PomXMLGenerator.java
