/.Generate.java._trace
/.Generate.xtendbin
/.Generate2.xtendbin
/.GenerateFunction.xtendbin
/.MavenStructureGenerator.xtendbin
/.PackageGenerator.xtendbin
/.PomXMLGenerator.xtendbin
/Generate.java
/.GenerateFunction.java._trace
/.Generate2.java._trace
/.PackageGenerator.java._trace
/.PomXMLGenerator.java._trace
/.MavenStructureGenerator.java._trace
